<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aks.doggydoo">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.intent.action.CALL_PRIVILEGED" />
    <uses-permission android:name="Manifest.permission.WRITE_APN_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:name=".utils.MyApp"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoggyDoo"
        android:usesCleartextTraffic="true">

        <activity android:name=".auth.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".tracking.Tracking" />
        <activity
            android:name=".login.ui.LoginActivity"
            android:theme="@style/Theme.DoggyDoo.NoActionBar" />
        <activity android:name=".recievedrequestprofile.ui.ReceivedRequestedProfile" />
        <activity android:name=".postadoptiondetail.ui.PostAdoption" />
        <activity android:name=".adoptionrequestsent.ui.AdoptionRequestSend" />
        <activity android:name=".shelter.ui.DogShelterActivity" />
        <activity android:name=".adoptdogdetails.ui.AdoptDogDetailActivity" />
        <activity android:name=".upload.ui.UploadActivity" />
        <activity android:name=".adoption.ui.AdoptionIntro" />
        <activity android:name=".myfriendsdog.ui.MyFriendsDogDescription" />
        <activity android:name=".myfrienddescription.ui.MyFriendProfile" />
        <activity android:name=".parkdescription.ui.PetParkDescription" />
        <activity android:name=".upcomingorderdescription.ui.UpcomingOderDescription" />
        <activity android:name=".article.ui.ArticleIntro" />
        <activity android:name=".mydog.ui.AddDocument" />
        <activity android:name=".mydog.ui.SetReminder" />
        <activity
            android:name=".mydog.ui.MyDog"
            android:launchMode="singleTask" />
        <activity android:name=".mydog.ui.PreviewDocument" />
        <activity android:name=".myprofile.ui.MyProfileActivity" />
        <activity android:name=".callawet.ui.ReasonForCallingDoc" />
        <activity android:name=".callawet.ui.CallAWetIntro" />
        <activity android:name=".PaymentCard" />
        <activity
            android:name=".adoption.ui.AdoptionViewAll"
            android:exported="true" />
        <activity android:name=".article.ui.ArticleUpload" />
        <activity android:name=".articledescription.ui.ArticleDescription" />
        <activity
            android:name=".homemodule.ui.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.DoggyDoo.NoActionBar" />
        <activity
            android:name=".onboarding.ui.OnBoardingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DoggyDoo.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".rateplace.ui.RatePlaceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".training.ui.FullScreenVideoActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.DoggyDoo.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".dogsitting.ui.DogSittingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".dogsitting.ui.DogSittingDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".dogsitting.ui.DogSittingHerosDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".senddogsitrequest.ui.SendRequestActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".dogsitting.ui.SuccessSendRequestActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".postdogsittinginfo.AddDogSittingInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".dogsitrequestmsg.DogsitRequestMessageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".dogsitting.ui.RateDogHeroUserActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".badge.BadgeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fostering.ui.FosteringActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fostering.ui.FosteringDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fostering.ui.FosteringHerosDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fostering.ui.FosteringSuccessSendRequestActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fostering.ui.FosteringBadgeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fostering.ui.FosteringRequestMessageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fostering.ui.AddFosteringInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".newsfeed.ui.NewsFeedDashboardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".newsfeed.ui.UploadPhotoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".training.ui.TrainingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".findmate.ui.FindMate"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".playdate.ui.PlayDateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".playdate.ui.PlayDateDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".playdate.ui.SelectTimeDateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".playdate.ui.PlayDateSuccessSendRequestActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".chatMessage.ChatMessageRequestActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".callawet.ui.DoctorDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".callawet.ui.RateDoctorActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".onboarding.ui.ChooseUserIdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".onboarding.ui.UploadUserPhotoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".onboarding.ui.DoYouhavePetActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".onboarding.ui.PetOnBoardingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".onboarding.ui.PetAgeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".onboarding.ui.PetBreedActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".onboarding.ui.PetGenderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".onboarding.ui.PetImageUploadActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".myprofile.ui.EditProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".mydog.ui.EditPetProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".adoption.ui.AdoptionViewAllShelter"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".playdate.ui.ViewAllPlayDateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fostering.ui.ViewAllFosteringActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".dogsitting.ui.ViewAllDogsitActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".training.ui.YoutubeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".article.ui.ViewAllArticleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".myprofile.ui.UserProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".mydog.ui.PetProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".article.ui.ArticleDetail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".homemodule.ui.AllUserListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".firebaseChat.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DoggyDooChat"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".firebaseChat.ChatImageFullActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".homemodule.ui.ViewAllReminderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".newsfeed.ui.ArticleDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".training.ui.UploadVideoUrlActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".newsfeed.ui.CommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sos.ui.SOSIntro"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".sos.ui.ConfirmsoslocationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".sos.ui.SOSMapActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".sos.ui.DistressPetDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".callawet.ui.ViewAllVetActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".article.ui.ViewBlogCommentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".videocall.CreateRoomActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".videocall.VideoConferenceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".videocall.ReceiverActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".mydog.ui.SelectStartDateTimeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".mydog.ui.SelectEndDateTimeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification_icon" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/off_white" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service
            android:name=".auth.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDLoE5-MCJ0Gl-q4V-5-4udXrmGiyLZxoc" />

        <receiver android:name=".firebaseChat.Notification.NotificationService" />


        <receiver
            android:name=".auth.MyBroadcastReceiver"
            android:exported="false" />

    </application>

</manifest>